<div class="page-wrapper">
	<main class="main">


		<div class="login-page bg-image pt-3 pb-8 pt-md-5 pb-md-10 pt-lg-5 pb-lg-10 "
			style="background-image: url('assets/images/backgrounds/login-bg.jpg');background-position: center;">
			<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
				<div class="container">
					<ol class="breadcrumb text-light">
						<li class="breadcrumb-item text-light"><a href="/">Home</a></li>
						<li class="breadcrumb-item text-light"><a href="#">Accounts</a></li>
						<li class="breadcrumb-item text-light"><a href="/signin">Login</a></li>
						<li class="breadcrumb-item active text-light" aria-current="page">Login(OTP)</li>
					</ol>
				</div><!-- End .container -->
			</nav><!-- End .breadcrumb-nav -->
			<div class="container">
				<div class="form-box col-10 col-md-8  ">
					<div class="form-tab ">

						<ul class="nav nav-pills nav-fill" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="signin-tab-2" data-toggle="tab" href="#OTP1" role="tab"
									aria-controls="signin-2" aria-selected="false">Sign In</a>
							</li>
						</ul>
						<div class="tab-content ">
							<div class="tab-pane fade px-5 mt-5 show active " id="OTP1" role="tabpanel"
								aria-labelledby="signin-tab-2">
								<form id="sendCodeOtp">

									<div class="form-group">
										<label for="phonenumber">Mobile Number *</label>
										<input type="tel" class="form-control" id="otpPhoneNumber" name="phonenumber"
											required>
									</div><!-- End .form-group -->

									<p id="loginOtpError" class="text-danger"></p>
									<div>
										<center><button type="submit" class="btn btn-outline-primary-2" id="send_button"
												onclick="loginOtp()">
												<span>LOG IN</span>
												<i class="icon-long-arrow-right"></i>
											</button></center>
									</div>
								</form>
								<div class="form-choice mt-3">
									<p class="text-center">or sign in with</p>
									<div class="row d-flex justify-content-center">
										<div class="col-sm-6 ">
											<a href="/signin" class="btn btn-login btn-lg">
												Register / Login With E-mail
											</a>
										</div><!-- End .col-6 -->
									</div><!-- End .row -->
								</div><!-- End .form-choice -->
							</div><!-- .End .tab-pane -->

						</div><!-- End .tab-content -->



					</div><!-- End .form-tab -->
				</div><!-- End .form-tab -->
			</div><!-- End .form-box -->
		</div><!-- End .container -->
</div><!-- End .login-page section-bg -->
</main><!-- End .main -->


</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->


<div class="modal fade" id="otp-Modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"><i class="icon-close"></i></span>
				</button>

				<div class="form-box">
					<div class="form-tab">
						<ul class="nav nav-pills nav-fill" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab"
									aria-controls="signin" aria-selected="true">Login via OTP</a>
							</li>
						</ul>
						<div class="tab-content" id="tab-content-5">
							<div class="tab-pane fade show active" id="signin" role="tabpanel"
								aria-labelledby="signin-tab">
								<form id="verifyCode">
									{{!-- <center>
										<h3 id="heading">Loading ....</h3>
									</center> --}}
									<div class="form-group">
										<label for="singin-email">Enter the OPT *</label>
										<input type="text" class="form-control" id="otp" name="code" required>
									</div><!-- End .form-group -->
									<div class="d-flex mb-2">
										<a class="text-primary" style="cursor: pointer;">Resent OTP</a>
										<p class="text-danger ml-auto" id="timerCountDown"></p>

									</div>

									<p id="otpError"></p>

									<div class="form-footer">
										<button type="submit" class="btn btn-outline-primary-2">
											<span>LOG IN</span>
											<i class="icon-long-arrow-right"></i>
										</button>
									</div><!-- End .form-footer -->
								</form>

							</div><!-- .End .tab-pane -->
						</div><!-- End .tab-content -->
					</div><!-- End .form-tab -->
				</div><!-- End .form-box -->
			</div><!-- End .modal-body -->
		</div><!-- End .modal-content -->
	</div><!-- End .modal-dialog -->
</div><!-- End .modal -->

<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
	$('#sendCodeOtp').submit((e) => {
		document.getElementById('loginOtpError').innerText = "";
		let phonenumber = document.getElementById('otpPhoneNumber').value;
		console.log(phonenumber)
		e.preventDefault();
		$.ajax({
			url: '/loginotp/sendcode',
			method: 'POST',
			data: $('#sendCodeOtp').serialize(),
			success: (response) => {
				if (response.status) {
					$('#otp-Modal').modal('show')

					var fiveMinutes = 60 * 2,
						display = document.querySelector('#timerCountDown');
					startTimer(fiveMinutes, display);

					function resendOtp() {
						$.ajax({
							url: '/loginotp/sendcode',
							method: 'POST',
							data: $('#sendCodeOtp').serialize(),
							success: (response) => {
							}

						})
					}

					$('#verifyCode').submit((e) => {
							e.preventDefault()
							let code = document.getElementById('otp').value
							console.log(code)
							$.ajax({
								url: '/loginotp/verify',
								method: 'POST',
								data: { phonenumber, code },
								success: (verifiedResponse) => {
									console.log(verifiedResponse)
									if (verifiedResponse.status) {
										$('#otp-Modal').modal('hide')
										Swal.fire({
											icon: 'success',
											title: 'You have been successfully loggedIn',
											text: ' Otp Login has been successful. ',
											footer: 'Redirecting in 2 seconds'
										})
										setTimeout(() => { window.history.go(-2) }, 2000)
									} else {

										document.getElementById('otpError').innerText = response.message;
									}


								}
							})
						})
				}
				else {

					document.getElementById('loginOtpError').innerText = response.message;
				}

			}
		})
	})

</script>


<script>
	function startTimer(duration, display) {
		var timer = duration,
			minutes, seconds;

		setInterval(function () {
			minutes = parseInt(timer / 60, 10)
			seconds = parseInt(timer % 60, 10);

			minutes = minutes < 10 ? "0" + minutes : minutes;
			seconds = seconds < 10 ? "0" + seconds : seconds;

			display.textContent = minutes + ":" + seconds;


			if (--timer < 0) {
				display.textContent = ""
			}
		}, 1000);

	}
</script>