<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GadgetTech - Order Placed</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/skins/skin-demo-2.css">
    <link rel="stylesheet" href="/assets/css/demos/demo-2.css">
    
</head>
  <body>
<div class="page-wrapper mt-5">
  <div class="row  d-flex justify-content-center align-items-center ">
    <div class="col-lg-10 d-flex align-items-center justify-content-center">
      <div class="card text-center  mb-3" style="width: 80vw; height :auto ; border-radius: 1rem">
        <div class="card-header mt-4 mb-3" >
          <h3 style="color:  #fd3700;"> Transcation Failed </h3>
          </div>
        <div class="card-body">
           <h5 class="card-title">Payment is Pending ,Retry the payment for the order after sometime</h5>
          <center><img src="/images/failed.gif" alt="Card image cap"></center>
          <h6>Your Order id is :<span class="ml-3" style=" color: #161616;">{{orderId}}</span> </h6>
          <h6 class="card-text mb-3">Please go to the order page in-order to retry payment.Redirecting to orders page in <span style="color: #e72001 ;" id="countDown">10</span></h6>
          <div class="d-flex justify-content-center mb-4">
            <a href="/dashboard/orders"><button class="btn btn-outline-primary-2 mr-3" >View Orders</button></a>
            <a href="/"><button class="btn btn-outline-primary-2" >Continue Shopping</button></a>
          </div>

        </div>
      </div>

    </div>
    <!-- Plugins JS File -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/superfish.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/bootstrap-input-spinner.js"></script>
<!-- Main JS File -->
<script src="/assets/js/main.js"></script>

<script>
  $( document ).ready(function() {
      var fiveMinutes = 10,
    display = document.querySelector('#countDown');
    let countDown = startTimer(fiveMinutes, display);

});

function startTimer(duration, display) {
  var timer = duration,
    minutes, seconds;
     setInterval(function() {
    minutes = parseInt(timer / 60, 10)
    seconds = parseInt(timer % 60, 10);

    minutes = minutes < 10 ? "0" + minutes : minutes;
    seconds = seconds < 10 ? "0" + seconds : seconds;

    display.textContent =  seconds;


    if (--timer < 0) {
      location.href = "/dashboard/orders";
    }
  }, 1000);

}
</script>