
    {{#if admin}}
    {{>admin-header}}
    {{else if signin}}

    {{else}}
    {{>user-header}}
    {{/if}}
    {{{body}}}
  </body>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="/javascripts/script.js"></script>
</html>
